
* { box-sizing: border-box;}


body {
    font-family:  'Abel', sans-serif;
    margin: 0; 
    background-color: lightgray;
}
.cabecalho { 
    background:#225D4D;
    border-bottom: solid 5px #4faddb;
    height: 130px;
    box-sizing: content-box;

}
.logo {
    display: inline-block;
    height: 130px;
    width: 150px;
    padding: 5px;

}
.logo img {
    height: 100%;
}

.menu-toggle {
    float: right;
    color: rgba(255, 251, 251, 0.863);
    background-color: #103315;
    border: 5px whitesmoke;
    border-radius: 8px;
    height: 45px;
    padding: 10px 20px;
    margin: 45px 15px;
}
.menu {
    margin-left: 40px;
    display: inline-block;
    vertical-align: top;
    height: 130px;
    padding: 5px;
  
    color: black;

}
.menu ul {
    margin:0px;
    padding: 0px;
}
.menu li {
    display: inline-block;
}


.cabecalho a {
    text-decoration: none;
    color: lightgray;
    font-size: 0.9em;
    
}
.menu a {
    padding: 10px;
}
.autenticacao {
    float: right;
    height: 130px;
    padding: 35px;
    
}

.menu a:hover,
.menu a.selected {
    background-color: #4faddb ;
    color: black;

}
.botao {
    border-radius: 30px;
    padding: 10px 25px;
    margin: 10px;

}
.destaque {
    background: #cf1212;
    color: #fff;
    
}
.dropdown-menu  ul {
    background:#225D4D;
}