@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@1,200&display=swap'); 
/*
#225d4d verde
#d3d3d3 cinza
#4faddb  azul claro
#000 preto
#fff brancp

*/
:root {
    /*cores*/
    --corverde  :#2b564b;
    --corverdec :#b7f0d6;
    --corazulc  :#4faddb;
    --corazule  :#286291;
    --corpreta  :#000;
    --corbranca :#fff;
    
    /*fontes*/
    --fonte-padrao   : Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque1: 'Abel', cursive;
    --fonte-tema     : 'Fahkwang', sans-serif;
}



* { box-sizing: border-box;
    margin:0px;
    padding:0px;
}


body {
    font-family: var(--fonte-padrao);
    /*font-family:  'Abel', sans-serif;*/
    margin: 0px;
    padding: 0px; 
    background-color:var(--corcinza);
}

main {
    background-color: var(--corverdec);
    min-width: 450px;
    max-width: 1400px;
    margin: auto;
}


/* cabeçalho e navbar */

.cabecalho { 
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background:var(--corverde);
    border-bottom: solid 5px var(--corazulc);
    height: 130px;
    box-sizing: content-box;

}
.cabecalho a {
    text-decoration: none;
    color: var(--corcinza);
    font-size: 1.0em;
    
}
.logo {
    display: inline-block;
    height: 130px;
    width: 140px;
    padding: 0px;

}
.logo img {
    height: 100%;
}

.menu-toggle {
    display: none;
    float: right;
    color: var(--corverdec) ;
    background-color:var(--corazulc);
    border-color: #fff;
    border-style:double;
    border: 8px ;
    border-radius: 5px;
    height: 45px;
    padding: 10px 15px;
    margin: 40px 15px;
}

.menu {
    align-items: center;
    display: inline-block;
    margin-left: 140px;
    /* margin-top: 3.5%;  
    vertical-align: top;*/
    height: 100px;
    padding: 5px;
    color: var(--corverdec);

}
.menu ul {
    background: var(--corbranca);
    opacity: 90%;
}  
.menu li {
    display: inline-block;
}
hr {
    color: #000;
}


.menu a {
    padding: 7px;
}
.autenticacao {
    float: right;
    height: 130px;
    padding:55px;
    
}


.menu a:hover,
.menu a.selected {
    background-color: var(--corazulc) ;
    color: var(--corpreta);

}
.botao {
    border-radius: 10px;
    padding: 10px 7px;
    margin-top: 30px;
    margin-right: 0px;
    background: var(--corazulc);

}
.destaque {
    background: var(--corazulc);
    
}
.destaque:hover {
    background: var(--corazulc);
    color: var(--corverdec);
}


/* home page secao inicial da mensagem da  CABEFE */

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
}


section.textohome {
    background-size: cover;
    background-attachment:fixed;
}
   
section.textohome > p {
    display:inline-block;
    font-size: 1.5em;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
    margin-top:20px;
    color: var(--corbranca);
    
} 

section > h1,h2,h5 {
    padding-top: 50px;
    text-align: center;
    text-shadow: 2px 2px 3px var(--corpreta);
}

section>h1 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 10px;
    color:var(--corbranca);
}
section>h5 {
    padding-top: 1px;
    color:var(--corbranca);
}
section>h2 {    
    color:var(--corverdec);
    margin:30px;
    font-size: 3em;
    font-family: var(--fonte-tema);     
}
.divisor {
    background-color: var(--corverdec);
    color: var(--corpreta);
    font-weight: bolder;
    border-bottom: solid 5px var(--corazulc);
    padding: 0px;
    margin: 0px;
}
.botao-Site {
        box-shadow: 1px 1px 1px 1px var(--corazule);
        border: none;
        border-radius: 1px;
        margin: 10px;
        background: var(--corazulc);
        color: var(--corverdec);
        text-align: center;
        width: 95px;
}

.botao-Site:hover {
    color: var(--corpreta);
    
}
.homedv1 {
    display: block;
    background-image: url('../imagens/familiahomefeliz.jpg');
    margin-top: 50px;
    background-position:top;
    height:auto;
    width: auto;
    height: auto;
 }
#conteudo2
{
    margin-top: 0px;
    background:#222222db;
    color:var(--corbranca);
    font-size: 18px;

}
div>#conteudo2
{
    margin-top: 5%;
}

.page-header 
{ 
    font-size: 2.0em;
    font-weight: 650px;
}
 .form-group {
    text-align: center;
 }
 .form-horizontal 
 {
    width: 200px;
    align-items: center;
    text-align: center;
    margin: auto;
 }
 .form-control
 {
    text-align: center;

    
    height: 30px;
 }

.form-group 
 {
    
    border: none;
    padding: 10px;
    margin: 0px;
    
    
    text-align: center;
    width: 195px;

}
.botao 
{
    box-shadow: 1px 1px 1px 1px var(--corazule);
    border: none;
    border-radius: 5px;
    margin: 10px;
    background: var(--corazulc);
    color: var(--corverdec);
    text-align: center;
    width: 95px; 
}
.botao:hover {
    color: var(--corpreta)
}

footer {
    border-top: solid 5px var(--corazulc);
    background-color: var(--corverde);
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    color: var(--corbranca);
}
.emater-Text > p, .unimed-Text>p {
    margin-top: 60px;
    font-size: 1.3em;
    text-align: justify;
    text-shadow: 0px 0px 2px var(--corpreta);
}
footer > a {
   color:var(--corcinza);
   text-decoration: underline;
   text-decoration-color: var(--corazulc);
}
#entrar
{
    padding: 0px;
    margin-top: -30px;
    
}
 
/*@media(max-width: 579px) {
    .menu {
        display: none;
    }
 
}*/
@media (max-width:1032px), (orientation: portrait){
    .menu {display:none;}
    .menu-toggle{display: block;}
}
@media (max-width:420px) and (max-width: 1039px) {
    .menu {
        display: none;
    }
    .menu-toggle{ display: block;}

    .botao {
        border-radius: 10px;
        padding: 10px 7px;
        margin-top: 30px;
        margin-right: 0px;
        background: var(--corazulc);
    
    }
    .destaque {
        background: var(--corazulc);
   
        
    }
    .destaque:hover {
        background: var(--corazulc);
        color: var(--corverdec);
    }


}